# Translate a ~23k rows using Googletrans API

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
dataset = pd.read_csv("df_sales.csv",sep=",")

### Understanding the little issue

When I was start a new Data Science project I came across to this Russian Dataset, and unfortunately my skill with Russian language is the same of my soccer skill, it's about zero point zero. So, to understand to products, I will translate 2935849 itens to english language. 

lets reading all the .csv dataset issue.

In [3]:
dataset = pd.read_csv("item_categories.csv",sep=",")

In [4]:
dataset2 = pd.read_csv("items.csv",sep=",");

In [5]:
dataset3 = pd.read_csv("sales_train_v2.csv",sep=",");

In [6]:
dataset4 = pd.read_csv("sample_submission.csv",sep=",");

In [7]:
dataset5 = pd.read_csv("shops.csv",sep=",");

In [8]:
dataset6 = pd.read_csv("test.csv",sep=",");

# Merging
Merging the datasets using the IDs of features as key. It's my way to working, I prefer structuring everything first in a dataset to facilitate my understanding and don't confusing all this differents dataset.

In [9]:
dataset_full = pd.merge(dataset3,dataset5, on = 'shop_id')
dataset_full = pd.merge(dataset3,dataset2, on = 'item_id')
dataset_full= pd.merge(dataset_full,dataset, on = 'item_category_id')
dataset_full.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,23.01.2013,0,24,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,20.01.2013,0,27,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,02.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,03.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

### Google Translate API

I have found a thousand ways to using this API, but none of them said how to work about the limits of API issue. This API although is free and unlimited to translate, but there is a limitation, that limits the numbers of the requests. The solution I had found was reinitialize the API each request I made, waiting 5 seconds and SAVE ALL for each iteration. In the first moment I thought that if I save each iteration it could slow up, but it was insignificant and worked very well.

### API using
To use this API is needed to install the googletrans to implement Google Translate API

$ pip install googletrans

Here is the great insight, instead translating all 3mi rows, I had applied the unique function in my dataset, the result of this was the decrement of 3Mi rows to about 23000 rows.

In [12]:
### Organizing the data
unique_item_name = np.unique(dataset_full['item_name'])
unique_item_category_name = np.unique(dataset_full['item_category_name'])
trad_item_name = pd.DataFrame(unique_item_name)
trad_unique_item_category_name = pd.DataFrame(unique_item_category_name)
trad_item_name.columns = ['item_name']
trad_unique_item_category_name.columns = ['item_category_name']

This took a considerable time to translate everything because the time.sleep of 5 seconds slowed down.

In [23]:
#This was applied to categories name and the 3mi itens name rows.
import time    # necessário para não levar block
trad_item_name[1] = 'x'   ### Creat a column filled with x, that will be filling with the translation.
for i,x in enumerate(trad_item_name['item_name']):
    # REINITIALIZE THE API
    translator = Translator()
    time.sleep(5)
    tradz = translator.translate(x).text
    trad_item_name[1][i] = tradz
    print
    trad_item_name.to_csv('item_name_translated.csv')

In [12]:
name_item_translated= pd.read_csv("name_item_translated.csv", index_col = 0)
category_item_translated = pd.read_csv("category_item_translated.csv",)
category_item_translated.head()

        item_category_name                           1
0  PC - Гарнитуры/Наушники  PC - Headsets / Headphones
1         Аксессуары - PS2           Accessories - PS2
2         Аксессуары - PS3           Accessories - PS3
3         Аксессуары - PS4           Accessories - PS4
4         Аксессуары - PSP           Accessories - PSP

In [13]:
category_item_translated = pd.read_csv("category_item_translated.csv")
category_item_translated.head()

        item_category_name                           1
0  PC - Гарнитуры/Наушники  PC - Headsets / Headphones
1         Аксессуары - PS2           Accessories - PS2
2         Аксессуары - PS3           Accessories - PS3
3         Аксессуары - PS4           Accessories - PS4
4         Аксессуары - PSP           Accessories - PSP

## Merge Again

In [14]:
dataset_full= pd.merge(dataset_full,name_item_translated, on = 'item_name')
dataset_full= pd.merge(dataset_full,category_item_translated, on = 'item_category_name')

In [15]:
dataset_full.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,1_x,1_y
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Phenomenon 2012 (BD),Cinema - Blu-ray
1,23.01.2013,0,24,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Phenomenon 2012 (BD),Cinema - Blu-ray
2,20.01.2013,0,27,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Phenomenon 2012 (BD),Cinema - Blu-ray
3,02.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Phenomenon 2012 (BD),Cinema - Blu-ray
4,03.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Phenomenon 2012 (BD),Cinema - Blu-ray

Rename the draft columns

In [16]:
dataset_full.columns = ['date','date_block_num','shop_id','item_id','item_price','item_cnt_day','item_name','item_category_id','item_category_name','item_name_transl','category_transl']

In [17]:
df_towork =dataset_full[['date','date_block_num','shop_id','item_price','item_cnt_day','item_name_transl','category_transl']]

In [18]:
df_towork.to_csv('df_sales.csv')